<p *ngIf="isAuth === 'SIGN_IN'; else signup">Login</p>
<ng-template #signup>
  <p>Sign Up</p>
</ng-template>

<form [formGroup]="form" (ngSubmit)="loginSubmit()">
  <div
    [ngClass]="{invalid: form.get('email').touched && form.get('email').invalid}"
  >
    <label for="email">Email</label>
    <input id="email" type="email" formControlName="email">
    <div *ngIf="form.get('email').touched && form.get('email').invalid">
      <small *ngIf="form.get('email').errors['required']">Email is required</small>
      <small *ngIf="form.get('email').errors['email']">Enter correct email</small>
    </div>
  </div>

  <div
    [ngClass]="{invalid: form.get('password').touched && form.get('password').invalid}"
  >
    <label for="password">Password</label>
    <input id="password" type="email" formControlName="password">
    <div *ngIf="form.get('password').touched && form.get('password').invalid">
      <small *ngIf="form.get('password').errors['required']">
        Password is required
      </small>
      <small *ngIf="form.get('password').errors['minlength']">
        Length should be at least {{form.get('password').errors['minlength'].requiredLength}}
        but now {{form.get('password').errors['minlength'].actualLength}}
      </small>
    </div>
  </div>

  <button [disabled]="form.invalid || submitted">Log in</button>

  <div *ngIf="auth.error$ | async as errors">{{errors}}</div>
</form>
