//colors
$white: #FFF;
$purple: #2C0063;
$yellow: #F3CC00;
$bannerBackground: var(--linear, linear-gradient(316deg, #EE9AE5 8.59%, #5961F9 99.07%));


//font sizes
$baseFontSize: 16px;

// sizes for screen
$breakpoint-desktop-xl: 1920px;
$breakpoint-desktop-large: 1440px;
$breakpoint-desktop-large-little: 1350px;
$breakpoint-desktop: 1200px;
$breakpoint-laptop: 1024px;
$breakpoint-tablet: 768px;
$breakpoint-phone: 480px;
$breakpoint-phone-small: 375px;
$breakpoint-phone-xs: 320px;
