<header class="container header">
  <div class="logo-block">
    <img src="assets/main-logo.png" alt="logo" [routerLink]="['/']">
    <div>
      <div class="logo-title">ADS</div>
      <div class="logo-description">Active. Daily. Smart</div>
    </div>
  </div>

  <nav>
    <ul *ngIf="auth.isAuthenticated()">
      <li [routerLink]="['/profile']">Profile</li>
      <li>Learn Words</li>
      <li>My Words</li>
    </ul>
  </nav>

  <div class="login-aside">
    <app-general-button
      *ngIf="!auth.isAuthenticated()"
      class="header-login-btn"
      text="Login"
      [disabled]=false
      (onClicked)="signIn()"
      [routerLink]="['/login']"
    ></app-general-button>

    <div class="profile-info" *ngIf="auth.isAuthenticated()">
      <p class="user-name">{{auth.userName}}</p>
      <img
        src="assets/logout.png"
        alt="Logout Icon"
        (click)="auth.logout()"
        class="logout-icon"
      />
    </div>
  </div>

</header>


<router-outlet></router-outlet>
