@import "src/styles/common";

.header {
  padding: vwPC(24) vwPC(32);
  display: flex;
  align-items: center;
  justify-content: space-between;
}

nav ul{
  display: flex;
}

nav ul li {
  margin: 0 vwPC(16);
}

.profile-info {
  display: flex;
  align-items: center;
}

.profile-info h3 {
  margin-right: vwPC(20);
}

.logo-block {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: vwPC(45);

  img {
    width: vwPC(56);
    height: vwPC(56);
  }
}

.login-btn {
  border: vwPC(2) solid $purple;
  border-radius: vwPC(30);
  padding: vwPC(16) vwPC(51);
  font-size: vwPC(16);
  font-weight: 600;
  cursor: pointer;
  margin-right: vwPC(45);

  &:hover {
    cursor: pointer;
  }
}


.logo-title {
  font-size: vwPC(32);
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  text-transform: uppercase;
}

.logo-description {
  font-size: vwPC(18);
  font-weight: 300;
}
