<header class="container-banner header">
  <div class="logo-block">
    <img src="assets/main-logo.png" alt="logo">
    <div>
      <div class="logo-title">ADS</div>
      <div class="logo-description">Active. Daily. Smart</div>
    </div>
  </div>

  <nav>
    <ul *ngIf="auth.isAuthenticated()">
      <li >New Words</li>
      <li>Known Words</li>
      <li>Add New Words</li>
    </ul>
  </nav>


  <div *ngIf="!auth.isAuthenticated()" class="login-btn" (click)="signIn()" [routerLink]="['/login']">Login</div>

  <div class="profile-info" *ngIf="auth.isAuthenticated()">
    <h3>User_name</h3>
    <button (click)="auth.logout()">Logout Icon</button>
  </div>

</header>


<router-outlet></router-outlet>
