@import "src/styles/common";

.banner-btn {
  margin-top: vwPC(40);
  margin-bottom: vwPC(100);
  box-shadow: vwPC(-2) vwPC(-2) vwPC(4) 0 rgba(0, 0, 0, 0.25) inset;
  border: none;
  font-size: vwPC(18);
  padding: vwPC(16) vwPC(54);
  background: $yellow;
  border-radius: vwPC(30);
  color: $white;

  &:hover {
    cursor: pointer;
  }

  &:disabled {
    cursor: not-allowed;
  }
}
