@import "src/styles/common";

.banner {
  background: $bannerBackground;
  border-radius: vwPC(50) vwPC(50) vwPC(250) vwPC(50);
  display: flex;
  align-items: center;
  justify-content: center;
}

div {
  color: $white;
}

.info, .banner-img {
  flex: 1 1 0;
  width: 0;
}

.info {
  padding-left: vwPC(45);
}

.banner-img img {
  width: vwPC(570);
}

.banner-title {
  font-size: vwPC(70);
  margin-top: vwPC(113);
  font-weight: 600;
}

.banner-description {
  font-size: vwPC(20);
  font-weight: 300;
}

.banner-btn {
  margin-top: vwPC(40);
  margin-bottom: vwPC(100);
  font-size: vwPC(16);
  padding: vwPC(16) vwPC(54);
  background: $yellow;
  border-radius: vwPC(30);
  width: fit-content;
  box-shadow: vwPC(-2) vwPC(-2) vwPC(4) 0 rgba(0, 0, 0, 0.25) inset;
}

.banner-slang {
  font-size: vwPC(48);
  font-weight: 300;
  margin-bottom: vwPC(43);
}
