@import "src/styles/common";

.banner {
  background: $bannerBackground;
  border-radius: vwPC(50) vwPC(50) vwPC(250) vwPC(50);
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: vwPC(24);
}

div {
  color: $white;
}

.info, .banner-img {
  flex: 1 1 0;
  width: 0;
}

.info {
  padding-left: vwPC(45);
}

.banner-img img {
  width: vwPC(570);
}

.banner-title {
  font-size: vwPC(70);
  margin-top: vwPC(83);
  font-weight: 600;
}

.banner-description {
  font-size: vwPC(20);
  font-weight: 300;
}

.banner-slang {
  font-size: vwPC(48);
  font-weight: 300;
  margin-bottom: vwPC(43);
}
